@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

@media screen and (max-width: 1000px) {
}

.blogs {
  width: 90vw;
  height: max-content;
  min-height: 100vh;
  margin: 80px auto;
  transition: all ease 1s;
}

.main {
  background-color: #17181f;
  height: 40vh;
  border-radius: 3rem;
  padding: 50px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.main h1 {
  font-size: calc(7rem + 3vw);
}
.main p {
  color: #818388;
}
.main button {
  background-color: #292b31;
  border: 0;
  border-radius: 3rem;
  min-width: 120px;
  width: max-content;
  height: 35px;
  margin-top: 10px;
  font-weight: 600;
  color: #969696;
  padding: 5px;
  cursor: pointer;
}
.inputa {
  background-color: #292b31;
  border: 0;
  border-radius: 10px;
  min-width: 200px;
  width: max-content;
  height: 20px;
  color: #fff;
  padding: 10px;
  outline: none;
}
.main .selected {
  background-color: #fff;
  color: #000;
}
.displayblogs {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 0px 20px;
  grid-template-areas: "main main sec";
}
.displayblogs h1 {
  font-family: "Audiowide", cursive;
}
.firstimage {
  grid-area: main;
  width: 100%;
  height: auto;
  min-height: 500px;
  border-radius: 3rem;
  position: relative;
  background-color: hsl(220, 5%, 78%);
  overflow: hidden;

  background-image: attr(image);
  background-position: 50%;
  cursor: pointer;
}
.secimage {
  grid-area: sec;
  width: 100%;
  height: auto;
  min-height: 500px;
  border-radius: 3rem;
  position: relative;
  background-color: #db4437;
  overflow: hidden;
  cursor: pointer;
  background-image: url("../../assets/16.png");
}
.blogdetails {
  position: absolute;
  bottom: 0;
  padding: 2rem;
}
.listingblogs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 30px 20px;

  margin-top: 20px;
}
.oneblog {
  width: 29vw;
  height: 29vw;
  border-radius: 3rem;
  position: relative;
  background-color: hsl(0, 0%, 67%);
  overflow: hidden;
  cursor: pointer;
  background-image: attr(oneblog);
}
.aaa {
  height: max-content;
}
.aaa h1 {
  font-size: calc(4rem + 2vw);
  line-height: calc(4rem + 4.8vw);
  text-align: center;
}
.blogdetails h1 {
  font-size: calc(2.2vw);
  width: 100%;
  font-family: "Audiowide", cursive;
}
.blogdetails p {
  font-size: calc(1.1vw);
}
@media screen and (max-width: 900px) {
  .displayblogs {
    grid-template-areas:
      "main main main"
      "sec sec sec";
    gap: 20px;
  }
  .listingblogs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .oneblog {
    width: 42vw;
    height: 40vh;
  }
  .allbuttons {
    flex-direction: column;
    gap: 15px;
  }
  .main {
    height: max-content;
  }
  .blogdetails p {
    font-size: calc(2vw);
  }
}
@media screen and (max-width: 550px) {
  .main h1 {
    font-size: calc(4rem + 8vw);
    line-height: calc(4rem + 4.8vw);
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .buttons {
    flex-wrap: wrap;
  }
  .main h1 {
    font-size: calc(3rem + 5vw);
    line-height: calc(4rem + 4.8vw);
    text-align: center;
  }
  .blogdetails h1 {
    font-size: calc(0.2rem + 1.9vw);
  }
}
