.main {
  background-color: #fff;
  transition: all 1s ease;
}
.FirstSection {
  height: 110vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  padding: 0 50px;
}
.SecondSection {
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
}
.ThirdSection {
  padding: 100px 0;
  height: 110vh;
  width: 100vw;
  background: linear-gradient(
    180deg,
    rgba(36, 0, 26, 0) 0%,
    rgb(239, 239, 239) 20%,
    rgba(255, 234, 224, 0) 100%
  );
  color: #000000;
  transition: all ease 2s;
}
.FourthSection {
  height: auto;
  min-height: 200vh;
  width: 100vw;
  background-color: #ffffff;
  color: #ffffff;
  background-color: #000000;
  border-top-right-radius: 150px;
  overflow: hidden;
  border-top-left-radius: 150px;
}
